@font-face {
    font-family: pixel;
    src: url(../fonts/pixel.ttf);
}

body{
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: pixel;
    background-color: #b0ac8d;
}

.body-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

/*Top box*/
.top-box{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 11%;
    width: 100%;
    background-color: #E2DDB4;
}

.top-title-box{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.top-title-image{
    width: 100%;
    object-fit: contain;
}

.top-lr-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 20px;
}

/*dice-box*/
.dice-box{
    display: flex;
    height: 25%;
    width: 100%;
    background-color: #8C1007;
}

/*Buttons*/
#button-square{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/*modal*/
#modal{
    display: none;
    position: fixed;
    inset: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}

#modal-exit{

}

.modal-content-box{
    display: flex;
    position: absolute;
    min-height: 450px;
    height: 20%;
    width: 80%;
    background-color: #E2DDB4;
}

.modal-input{
    width: 80%;
    height: 80px;
    font-size: 60px;
    font-family: pixel;
    text-align: center;
}

.modal-input:focus{
    outline: 5px solid #C3110C
}

.modal-wide-button{
    width: 40%;
    font-size: 60px;
    height: 100px;
    font-family: pixel;
    text-align: center;
    background-image: url("../images/wide-button-up.png");
    background-size: 100% 100%;
}

/*css for joining page*/
.bottom-side-box{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1rem;
    align-items: center;
    background-color: #8C1007;
}

#modal-id{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 60px;
}

#modal-name{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 80px;
}