@font-face {
    font-family: pixel;
    src: url(../fonts/pixel.ttf);
}

body{
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: pixel;
    background-color: #b0ac8d;
}

.body-box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: min(100vw, 100vh * 11 / 19);
}

/*Top box*/
.top-box{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #E2DDB4;
    border: outset #f3edc1 clamp(5px, 0.5vh, 10px);
    box-sizing: border-box;
}

.top-title-box{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.top-title-image{
    width: 100%;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.top-lr-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    aspect-ratio: 1/1;
}

/*dice-box*/
#dice-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    background-color: #b0120c;
    box-sizing: border-box;
    border: inset #9f1107 clamp(5px, 0.8vh, 15px);
}

.dice-box-top-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.die{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    height: 85%;
    aspect-ratio: 1/1;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.die.no-pressed{
    background-color: #e2ddb4;
    border: outset #f3edc1 clamp(5px, 0.5vh, 15px);
}

.die.pressed{
    background-color: #b0ac8d;
    border: inset #9e9b80 clamp(5px, 0.5vh, 15px);
}

/*background pictures*/
.eye1{background-image: url("../images/eyes/1.png");}
.eye2{background-image: url("../images/eyes/2.png");}
.eye3{background-image: url("../images/eyes/3.png");}
.eye4{background-image: url("../images/eyes/4.png");}
.eye5{background-image: url("../images/eyes/5.png");}
.eye6{background-image: url("../images/eyes/6.png");}
.three-oak{background-image: url("../images/combinations/three-oak.png");}
.four-oak{background-image: url("../images/combinations/four-oak.png");}

/*middle-box*/
#middle-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 55%;
    width: 100%;
    background-color: #e2ddb4;
}

.score-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12.5%;
    width: 50%;
    box-sizing: border-box;
    border: clamp(5px, 0.5vh, 10px);
    font-size: 4vh;
    user-select: none;
}

.score-item.selected{
    background-color: #b0ac8d;
    border: #C3110C clamp(1px, 0.5vh, 10px);
    border-style: solid;
}

.score-item.clickable{
    background-color: #e2ddb4;
    border-color: #ede8be;
    border-style: outset;
}

.score-item.noclickable{
    background-color: #b0ac8d;
    border: solid transparent clamp(1px, 0.5vh, 10px);
}

.score-item.sum-item{
    background-color: #918e75;
    border: solid transparent clamp(1px, 0.5vh, 10px);
}

.score-item-inner-logo{
    display: flex;
    width: 20%;
    aspect-ratio: 1/1;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.score-item-inner-dice{
    display: flex;
    height: 100%;
    width: 56%;
    justify-content: space-evenly;
    align-items: center;
}

.score-die{
    display: flex;
    width: 18%;
    aspect-ratio: 1/1;
    border: solid 0.1vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.score-item-inner-sum-points{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
}

.score-item-inner-points{
    display: flex;
    width: 20%;
    aspect-ratio: 1/1;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
}

.score-item-inner-bonus-points{
    display: flex;
    width: 56%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.score-item-points{
    user-select: none;
}

/*Score Box*/

#score-box{
    display: flex;
    height: 5.9%;
    width: 100%;
    box-sizing: border-box;
    background-color: #b0120c;
    border: inset #9f1107 clamp(5px, 0.8vh, 15px);
    justify-content: center;
    align-items: center;
    font-size: 6.5vh;
}

/*Bottom Box*/

.bottom-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #E2DDB4;
    border: outset #f3edc1 clamp(5px, 0.5vh, 10px);
    box-sizing: border-box;
}

.bottom-button-box{
    display:flex;
    height: 85%;
    width: 48%;
    font-size: 2vh;
}

/*Buttons*/
.button{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    background-color: #E2DDB4;
    align-items: center;
    justify-content: center;
    border: outset #f3edc1 clamp(5px, 0.5vh, 15px);
}

.button.pressed{
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    background-color: #b0ac8d;
    color: #696969;
    border: inset #9e9b80 clamp(5px, 0.5vh, 15px);
}

.button-text{
    font-size: 5vh;
    user-select: none;
}

/*modal*/
#modal{
    display: none;
    position: fixed;
    inset: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}

#modal-exit{

}

.modal-content-box{
    display: flex;
    position: absolute;
    min-height: 450px;
    height: 20%;
    width: 80%;
    background-color: #E2DDB4;
}

.modal-input{
    width: 80%;
    height: 80px;
    font-size: 60px;
    font-family: pixel;
    text-align: center;
}

.modal-input:focus{
    outline: 0.3vh solid #C3110C
}

.modal-wide-button{
    width: 40%;
    font-size: 60px;
    height: 100px;
    font-family: pixel;
    text-align: center;
    background-image: url("../images/wide-button-up.png");
    background-size: 100% 100%;
}

/*css for joining page*/
.bottom-side-box{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1rem;
    align-items: center;
    background-color: #8C1007;
}

#modal-id{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 60px;
}

#modal-name{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 80px;
}