.body-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: sans-serif;
}

.top-box{
    display: flex;
    height: 30%;
    flex-direction: row;
    position: relative;
    max-height: 250px;
    min-height: 80px;
    justify-content: space-evenly;

    /*coloring and design*/
    background-color: #6d63bc;
} 

#bot-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;

    /*coloring and design*/
    box-shadow: 0px 0px 0px 1000px rgb(34, 34, 34, 0.6) inset;
    background-size: cover;
    background-image: url("../images/host-background.png");
}

.foot-box{
    display: flex;
    height: 100px;

    /*coloring and design*/
    background-color: #3b3b3b; 
}

.title-lr{
    margin: 0.5%;
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 25%;
}

.title{
    display: flex;
    width: 50%;
    justify-content: center;
    
}

.title-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttons{
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    align-self: center;
    object-fit: contain;
}

#modal{
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    
    /*coloring and design*/
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content{
    /*coloring and design*/
    padding: 15px;
    border-radius: 8px;
    background-color: #534c8f;
}

#not-enough{
    display: none;
    justify-content: center;
    flex-direction: column;
}

#button-ok{
    height: 55px;
    font-size: 40px;
    width: 100%;
    margin-top: 10px;
}

#name-input{
    display: none;
    size: 20;
    height: 55px;
    width: 100%;
    font-size: 40px;
}

#add-btn{
    
}

#start-btn{
    
}

.name-list-item{
    font-size: 50px;
    padding: 30px;
}